/* ========== Généralités ========== */
@font-face {
    font-family: 'Raleway';
    src: url('Raleway-Bold.ttf') format('ttf'),
    font-weight: normal;
    font-style: normal;
}
#bloc_page {
    margin-left: 20px;
}
h1, h2 {
    font-family: 'Raleway';
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
}
h3 {
    font-family: 'Raleway';
    font-weight: 400;
}

/* ========== Recherche ==========*/
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}
nav li {
    margin-right: 15px;
}
form {
    position: relative;
    margin-left: 25px;
}
.fa-map-marker-alt {
    position:absolute
}
.filtres ul
{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

/* ========== Sections ==========*/
#principale {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1850px;
}
    /* ========== Première section ==========*/
#section_hebergements {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    background-color: #f2f2f2;
    border: 20px #f2f2f2 solid;
    border-radius: 20px;
    width: 1200px;
    height: 850px;
    order: 1;
}
#section_hebergements h1
{
    position: absolute;
    top: 0px;
    left: 40px;
}
#premiere_ligne
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1200px;
    padding-top: 80px;
}
.premier_hotel
{
    border: 10px rgb(255, 255, 255) solid;
    border-radius: 10px;
    width: 320px;
    height: 240px;
    transition: transform .2s;
}
.premier_hotel:hover {
    transform: scale(1.2);
}
.second_hotel
{
    border: 10px rgb(255, 255, 255) solid;
    border-radius: 10px;
    width: 320px;
    height: 240px;
}
.troisieme_hotel
{
    border: 10px rgb(255, 255, 255) solid;
    border-radius: 10px;
    width: 320px;
    height: 240px;
}
#deuxieme_ligne
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1200px;
    padding-bottom: 80px;
}
.quatrieme_hotel
{
    border: 10px rgb(255, 255, 255) solid;
    border-radius: 10px;
    width: 320px;
    height: 240px;
}
.cinquieme_hotel
{
    border: 10px rgb(255, 255, 255) solid;
    border-radius: 10px;
    width: 320px;
    height: 240px;
}
.sixieme_hotel
{
    border: 10px rgb(255, 255, 255) solid;
    border-radius: 10px;
    width: 320px;
    height: 240px;
}

    /* ========== Section aside ==========*/
#section_aside {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 850px;
    position: relative;
    background-color: #f2f2f2;
    border: 20px #f2f2f2 solid;
    border-radius: 20px;
    width: 500px;
    height: 830px;
    order: 2;
    padding-top: 25px;
}
#section_aside h1 {
    position: absolute;
    top: 0px;
    left: 40px;
}
#section_aside h2 {
    padding-left: 160px;
}
#section_aside h3 {
    padding-left: 160px;
}
.images_aside {
    position: absolute;
    left: -75px;
}
.premier_hotel_aside {
    border: 10px rgb(255, 255, 255) solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #ffffff;
    width: 420px;
    height: 200px;
    transition: transform .2s;
    align-self: center;
    overflow: hidden;
}
.premier_hotel_aside:hover {
    transform: scale(1.2);
}
.premier_hotel_aside h2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    top: -10px;
    left: 10px;
}
.premier_hotel_aside h3 {
    position: absolute;
    top: 60px;
    left: 10px;
}
.premier_hotel_aside, .fa-star {
    display: flex;
    flex-direction: row;
}
#septieme_groupe_etoiles {
    position: absolute;
    top: 110px;
    left: 170px;
}
.fa-chart-line {
        font-size: 1.7em;
        position: absolute;
        top: 20px;
        right: 10px;
}
.deuxieme_hotel_aside {
    border: 10px rgb(255, 255, 255) solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #ffffff;
    width: 420px;
    height: 150px;
    align-self: center;
}
.troisieme_hotel_aside {
    border: 10px rgb(255, 255, 255) solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #ffffff;
    width: 420px;
    height: 150px;
    align-self: center;
}
    /* ========== Section activités ==========*/
#section_activites {
    width: 1850px;
    height: 500px;
    order: 3;
}
#activites {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1850px;
    left: 60px;
    right: 60px;
    margin-bottom: 10px;
    height: 500px;
}
.premiere_activite {
    border: 10px rgb(255, 255, 255) solid;
    border-radius: 10px;
    width: 350px;
    height: 500px;
    transition: transform .2s;
    box-shadow: 0px 10px 4px rgb(221, 221, 221);
}
.premiere_activite:hover {
    transform: scale(1.2);
}
.deuxieme_activite {
    border: 10px rgb(255, 255, 255) solid;
    border-radius: 10px;
    width: 350px;
    height: 240px;
    transition: transform .2s;
    box-shadow: 0px 10px 4px rgb(221, 221, 221);
}
.deuxieme_activite:hover {
    transform: scale(1.2);
}
.troisieme_activite {
    border: 10px rgb(255, 255, 255) solid;
    border-radius: 10px;
    width: 350px;
    height: 190px;
    transition: transform .2s;
    box-shadow: 0px 10px 4px rgb(221, 221, 221);
}
.troisieme_activite:hover {
    transform: scale(1.2);
}
.quatrieme_activite {
    border: 10px rgb(255, 255, 255) solid;
    border-radius: 10px;
    width: 350px;
    height: 500px;
    transition: transform .2s;
    box-shadow: 0px 10px 4px rgb(221, 221, 221);
}
.quatrieme_activite:hover {
    transform: scale(1.2);
}
.cinquieme_activite {
    border: 10px rgb(255, 255, 255) solid;
    border-radius: 10px;
    width: 350px;
    height: 190px;
    transition: transform .2s;
    box-shadow: 0px 10px 4px rgb(221, 221, 221);
}
.cinquieme_activite:hover {
    transform: scale(1.2);
}
.sixieme_activite {
    border: 10px rgb(255, 255, 255) solid;
    border-radius: 10px;
    width: 350px;
    height: 190px;
    transition: transform .2s;
    box-shadow: 0px 10px 4px rgb(221, 221, 221);
}
.sixieme_activite:hover {
    transform: scale(1.2);
}
#deuxieme_colonne
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.filtres ul li
{
    margin-right: 20px;
}

.filtres
{
    display: flex;
}