/* ========== Généralités ========== */
@font-face {
    font-family: 'Raleway';
    src: url('Raleway-Bold.ttf') format('ttf'),
    font-weight: normal;
    font-style: normal;
}
#bloc_page {
    margin-left: 20px;
}
h1, h2 {
    font-family: 'Raleway';
}
h1 {
    font-size: 1.8em;
    margin: 3px;
}
h2 {
    font-size: 1.2em;
    margin: 3px;
}
h3 {
    font-family: 'Raleway';
    font-weight: 400;
    margin: 3px;
}
.fa-star {
    color: #0065FC;
}
.disabled {
    color: #d1d1d1
}
a:visited {
    text-decoration: none;
    color: black;
}
a {
    text-decoration: none;
    color: black;
}
::placeholder {
    font-family: 'Raleway';
    font-size: 1em;
}
#logo img {
    width: 150px;
    height: auto;
}
#titre_principal h1 {
    position: relative;
    top: -10px;
}
#titre_principal h3 {
    position: relative;
    top: 0px;
}
input[type="search"] {
    font-size: 2em;
    font-family: 'Raleway';
}
    /* ========== Logo et navigation ==========*/
#logo_navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* ========== Recherche ==========*/
nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-between;
    width: 600px;
    font-family: 'Raleway';
    font-size: 1.5em;
}
.nav_hebergements a:hover {
    color: #0065FC;
}
.nav_activites a:hover {
    color: #0065FC;
}
.nav_inscription a {
    color: #0065FC;
}
#recherche {
    width: 600px;
    height: 65px;
    box-shadow: 0px 0px 4px rgb(221, 221, 221);
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    top: 20px;
}
form {
    width: 600px;
    height: 65px;
    align-items: center;
    display: flex;
    flex-direction: row;
    position: absolute;
}
#bouton {
    width: 200px;
    height: 80px;
    background-color: #0065FC;
    color: white;
    font-size: 2em;
    border: none;
    outline: none;
}
#bouton:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}
#cadre {
    width: 335px;
    height: 80px;
}
#pin {
    width: 75px;
    height: 80px;
    background-color: #f2f2f2;
}
.fa-map-marker-alt {
    padding-left: 25px;
    padding-top: 30px;
    font-size: 1.3em;
}
#filtres ul li {
    margin-right: 20px;
}
#filtres
{
    display: flex;
    flex-direction: row;
}
#filtres ul {
    font-family: 'Raleway';
    font-size: 1.3em;
    font-weight: 700;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding-top: 62px;
}
#filtres h2 {
    padding-top: 80px;
}
.information {
    width: 550px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 40px;
}
.fa-info-circle {
    padding-top: -2px;
    font-size: 2em;
    color: #ffffff;
    background-color: #0065FC;
    border-radius: 50%;
}

/* ========== Sections ==========*/
#principale {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1850px;
}
    /* ========== Première section ==========*/
#section_hebergements {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    background-color: #f2f2f2;
    border: 20px #f2f2f2 solid;
    border-radius: 20px;
    width: 1200px;
    height: 900px;
    margin-top: 70px;
    order: 1;
}
#section_hebergements h1 {
    position: absolute;
    top: 0px;
    left: 40px;
}
#premiere_ligne
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1200px;
    padding-top: 80px;
}
.premier_hotel
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 5px rgb(255, 255, 255) solid;
    border-radius: 30px;
    width: 340px;
    height: 260px;
    transition: transform .2s;
    box-shadow: 0px 10px 4px rgb(221, 221, 221);
    overflow: hidden;
}
.premier_hotel:hover {
    transform: scale(1.2);
}
.premier_hotel img {
    width: 340px;
    height: 160px;
    object-fit: cover;
    overflow: hidden;
}
.texte_premier_hotel {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-left: 10px;
    width: 340px;
    height: 100px;
    background-color: white;
}
#premier_groupe_etoiles {
    display: flex;
    flex-direction: row;
    padding-left: 2px;
    padding-top: 12px;
}
.second_hotel
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 5px rgb(255, 255, 255) solid;
    border-radius: 30px;
    width: 340px;
    height: 260px;
    transition: transform .2s;
    box-shadow: 0px 10px 4px rgb(221, 221, 221);
    overflow: hidden;
}
.second_hotel:hover {
    transform: scale(1.2);
}
.second_hotel img {
    width: 340px;
    height: 160px;
    object-fit: cover;
    overflow: hidden;
}
.texte_second_hotel {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-left: 10px;
    width: 340px;
    height: 100px;
    background-color: white;
}
#deuxieme_groupe_etoiles {
    display: flex;
    flex-direction: row;
    padding-left: 2px;
    padding-top: 12px;
}
.troisieme_hotel
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 5px rgb(255, 255, 255) solid;
    border-radius: 30px;
    width: 340px;
    height: 260px;
    transition: transform .2s;
    box-shadow: 0px 10px 4px rgb(221, 221, 221);
    overflow: hidden;
}
.troisieme_hotel:hover {
    transform: scale(1.2);
}
.troisieme_hotel img {
    width: 340px;
    height: 160px;
    object-fit: cover;
    overflow: hidden;
}
.texte_troisieme_hotel {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-left: 10px;
    width: 340px;
    height: 100px;
    background-color: white;
}
#troisieme_groupe_etoiles {
    display: flex;
    flex-direction: row;
    padding-left: 2px;
    padding-top: 12px;
}
#deuxieme_ligne
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1200px;
    padding-bottom: 170px;
}
.quatrieme_hotel
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 5px rgb(255, 255, 255) solid;
    border-radius: 30px;
    width: 340px;
    height: 260px;
    transition: transform .2s;
    box-shadow: 0px 10px 4px rgb(221, 221, 221);
    overflow: hidden;
}
.quatrieme_hotel:hover {
    transform: scale(1.2);
}
.quatrieme_hotel img {
    width: 340px;
    height: 160px;
    object-fit: cover;
    overflow: hidden;
}
.texte_quatrieme_hotel {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-left: 10px;
    width: 340px;
    height: 100px;
    background-color: white;
}
#quatrieme_groupe_etoiles {
    display: flex;
    flex-direction: row;
    padding-left: 2px;
    padding-top: 12px;
}
.cinquieme_hotel
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 5px rgb(255, 255, 255) solid;
    border-radius: 30px;
    width: 340px;
    height: 260px;
    transition: transform .2s;
    box-shadow: 0px 10px 4px rgb(221, 221, 221);
    overflow: hidden;
}
.cinquieme_hotel:hover {
    transform: scale(1.2);
}
.cinquieme_hotel img {
    width: 340px;
    height: 160px;
    object-fit: cover;
    overflow: hidden;
}
.texte_cinquieme_hotel {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-left: 10px;
    width: 340px;
    height: 100px;
    background-color: white;
}
#cinquieme_groupe_etoiles {
    display: flex;
    flex-direction: row;
    padding-left: 2px;
    padding-top: 12px;
}
.sixieme_hotel
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 5px rgb(255, 255, 255) solid;
    border-radius: 30px;
    width: 340px;
    height: 260px;
    transition: transform .2s;
    box-shadow: 0px 10px 4px rgb(221, 221, 221);
    overflow: hidden;
}
.sixieme_hotel:hover {
    transform: scale(1.2);
}
.sixieme_hotel img {
    width: 340px;
    height: 160px;
    object-fit: cover;
    overflow: hidden;
}
.texte_sixieme_hotel {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-left: 10px;
    width: 340px;
    height: 100px;
    background-color: white;
}
#sixieme_groupe_etoiles {
    display: flex;
    flex-direction: row;
    padding-left: 2px;
    padding-top: 12px;
}
#afficher_plus {
    width: 400px;
    height: 80px;
    color: black;
    font-family: 'Raleway';
    font-size: 2em;
    font-weight: 700;
    border: none;
    outline: none;
    position: absolute;
    background: none;
    left: -70px;
    top: 765px;
}
#affichier_plus:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}


    /* ========== Section aside ==========*/
#section_aside {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    width: 500px;
    height: 900px;
    background-color: #f2f2f2;
    border: 20px #f2f2f2 solid;
    border-radius: 20px;
    order: 2;
}
#section_aside h1 {
    position: absolute;
    top: 0px;
    left: 40px;
}
#section_aside h2 {
    padding-left: 160px;
}
#section_aside h3 {
    padding-left: 160px;
}
.fa-chart-line {
    font-size: 1.7em;
    position: absolute;
    top: 20px;
    right: 10px;
}
        /* ========== Premier Hôtel Aside ========== */
#premier_hotel_aside {
    border: 5px rgb(255, 255, 255) solid;
    border-radius: 10px;
    background-color: #ffffff;
    width: 420px;
    height: 170px;
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    transition: transform .2s;
    align-self: center;
    order: 1;
    box-shadow: 0px 10px 4px rgb(221, 221, 221);
}
#premier_hotel_aside:hover {
    transform: scale(1.2);
}
#premier_hotel_aside img {
    width: 150px;
    height: 170px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 10px;
}
.texte_premier_hotel_aside {
    display: flex;
    flex-direction: column;
    width: 200px;
    padding-left: 80px;
    position: absolute;
    background-color: #ffffff;
}
.texte_premier_hotel_aside h2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    top: -10px;
    position: absolute;
}
.texte_premier_hotel_aside h3 {
    top: 60px;
    left: 10px;
    position: absolute;
}
#septieme_groupe_etoiles {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 110px;
    left: 170px;
}
        /* ========== Deuxième Hôtel Aside ========== */
#deuxieme_hotel_aside {
    border: 5px rgb(255, 255, 255) solid;
    border-radius: 10px;
    background-color: #ffffff;
    width: 420px;
    height: 170px;
    margin-top: -100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: transform .2s;
    align-self: center;
    order: 2;
    box-shadow: 0px 10px 4px rgb(221, 221, 221);
}
#deuxieme_hotel_aside:hover {
    transform: scale(1.2);
}
        /* ========== Troisième Hôtel Aside ========== */
#troisieme_hotel_aside {
    border: 5px rgb(255, 255, 255) solid;
    border-radius: 10px;
    background-color: #ffffff;
    width: 420px;
    height: 170px;
    margin-top: -100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: transform .2s;
    align-self: center;
    order: 3;
    box-shadow: 0px 10px 4px rgb(221, 221, 221);
}
#troisieme_hotel_aside:hover {
    transform: scale(1.2);
}
    /* ========== Section activités ==========*/
#section_activites {
    width: 1850px;
    height: 500px;
    order: 3;
}
#activites {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1850px;
    left: 60px;
    right: 60px;
    margin-bottom: 10px;
    height: 500px;
}
.premiere_activite {
    border: 10px rgb(255, 255, 255) solid;
    border-radius: 10px;
    width: 350px;
    height: 500px;
    transition: transform .2s;
    box-shadow: 0px 10px 4px rgb(221, 221, 221);
}
.premiere_activite:hover {
    transform: scale(1.2);
}
.deuxieme_activite {
    border: 10px rgb(255, 255, 255) solid;
    border-radius: 10px;
    width: 350px;
    height: 240px;
    transition: transform .2s;
    box-shadow: 0px 10px 4px rgb(221, 221, 221);
}
.deuxieme_activite:hover {
    transform: scale(1.2);
}
.troisieme_activite {
    border: 10px rgb(255, 255, 255) solid;
    border-radius: 10px;
    width: 350px;
    height: 190px;
    transition: transform .2s;
    box-shadow: 0px 10px 4px rgb(221, 221, 221);
}
.troisieme_activite:hover {
    transform: scale(1.2);
}
.quatrieme_activite {
    border: 10px rgb(255, 255, 255) solid;
    border-radius: 10px;
    width: 350px;
    height: 500px;
    transition: transform .2s;
    box-shadow: 0px 10px 4px rgb(221, 221, 221);
}
.quatrieme_activite:hover {
    transform: scale(1.2);
}
.cinquieme_activite {
    border: 10px rgb(255, 255, 255) solid;
    border-radius: 10px;
    width: 350px;
    height: 190px;
    transition: transform .2s;
    box-shadow: 0px 10px 4px rgb(221, 221, 221);
}
.cinquieme_activite:hover {
    transform: scale(1.2);
}
.sixieme_activite {
    border: 10px rgb(255, 255, 255) solid;
    border-radius: 10px;
    width: 350px;
    height: 190px;
    transition: transform .2s;
    box-shadow: 0px 10px 4px rgb(221, 221, 221);
}
.sixieme_activite:hover {
    transform: scale(1.2);
}
#deuxieme_colonne
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}